.header
{
	z-index: 1;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #CBB69D;
	color: black;
}

.organizBlock
{
	align-items: start;
	height: 30px;
	width: 100px;
	background-color: #a46922;
	border-radius: 7px;
}

.pBiblio
{
	margin-left: 20px;
	font-size: 16px;
	font-weight: 350;
}

.pPesquisa
{
	margin-left: 200px;
	margin-right: 5px;
	font-size: 16px;
	font-weight: 350;
}

.inputBox
{
  border-radius: 3px;
	margin-left: 5px;
	width: 200px;
	height: 30px
}

.customCollapse
{
	background-color: #CBB69D;
  color: black
}

.content
{
	margin: 100px 16px 0;
	overflow: initial ;
}